.content {
    max-width: 66vw;
    text-align: center;
}

.card {
    margin-bottom: 10px;
}

.card-text {
    text-align: left;
}

.code {
    font-family: monospace;
}

pre {
    background-color: #EDEDED;
}

h2 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 15px;
}